.followus-container {
  min-height: 40vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  background: #0c0726;
  text-align: center;
}

#followus h3 {
  margin-block-start: 0em;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

@media screen and (max-width: 960px) {
  .social-icons {
    width: 300px;
  }

}
